<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h3 class="h"><marquee scrollamount=10s>Bank Account Login... {{aim}}</marquee></h3>
                
                <div class="box1">
                 <input id="accno" type="text" class="input" #accno placeholder="Account Number" [value]="accnum" >
                </div>
                <div class="box2">
                 <input id="pswd" type="password" class="input" #pswd placeholder="Password" >
                </div>
                <div class="for1" >
                 <a href="#" class="for">Forget Password?</a>
                </div>
                <div class="but">
                 <button  type="submit" (click)="login(accno,pswd)" class="btn btn-primary" style="width: 80%; background-color: brown;">LogIn</button>
                </div>
                <div class="but">
                 <button type="button" class="btn btn-primary" style="width: 80%; background-color: crimson;">Create Account</button>
                </div>
                 
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div> 